@{
    ViewBag.Title = "Password Token Expired";
}
<div class="alert alert-danger">
    <strong>Reset password token has expired</strong> <br />
    The link you have attempted to use is either invalid or is no longer usable. Please reset your password again.
</div>

<a href="@Url.Action("ResetPassword")" class="btn btn-primary">Reset Password</a>

