@model NewsHole.Web.Models.Account.ResetPasswordModel

@{
    ViewBag.Title = "Reset Password";
}

<h2>Reset Password</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <div class="col-md-4 col-sm-4 col-xs-12">
            @Html.ValidationMessageFor(x => x.Email)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBox("Email", "", new { @class = "form-control" })
        </div>
        <div class="col-xs-3">
            <button class="btn btn-primary" type="submit">Reset Password</button>
        </div>
    </div>
}